<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
    <title>login</title>
</head>

<body>
    <%- include("partials/nav"); -%>
        <div class="mainlogo pacifico bold extraLarge pink">Studinfo</div>
        <div class="inputFields">
            <input class="logininput shadow" type="number" placeholder="Registration No.">
            <input class="logininput shadow" type="password" placeholder="Password"><br>
            <button class="loginButton shadow buttonL">Login</button>
            <div class="line"></div>
            <div class="white">New Here ?</div>
            <button class="buttonL shadow signupbutton">Sign Up</button>
        </div>
        <%- include("partials/footer") %>
</body>

</html>