<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
        <title>login</title>
</head>

<body>
    <%- include("partials/nav"); -%>
        <div class="mainlogo pacifico bold extraLarge pink">Studinfo</div>
        <div class="inputFields">
            <form action="/login" method="post">
                <input class="logininput shadow" type="number" name="regno" placeholder="Registration No.">
                <input class="logininput shadow" type="password" name="pass" placeholder="Password"><br>
                <button class="loginButton shadow buttonL">Login</button>
            </form>
            <div class="line"></div>
            <div class="white">New Here ?</div>
            <button class="buttonL shadow signupbutton" onclick="window.location.href='/signup'">Sign Up</button>

        </div>
        <script>
            window.onload = function () {
                alert("<%= error %>")
            }
        </script>
        <%- include("partials/footer") %>
</body>

</html>