<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
        <title>Time</title>
</head>

<body>
    <%- include("partials/nav"); -%>
        <div class="pageheading">
            <div class="moneypageimg"><img src="time2.png"></div>
            <div class="textpart time_color">
                <div class="maintitle heading">Time Manager</div>
                <div class="quotes">“Time is what we want most but what we use worst.”</div>
            </div>

        </div>

        <div class="block2">
            <div class="catagory timebox">
                <div class="squarebox">
                    <div class="value"></div>
                    <div class="title"></div>
                </div>
                <div class="squarebox">
                    <div class="value"></div>
                    <div class="title"></div>
                </div>
                <div class="squarebox">
                    <div class="value"></div>
                    <div class="title"></div>
                </div>
            </div>
            <div class="transactions">
                <div class="divtitle normal bold darkBlue time_background">Important Dates</div>
                <div class="dates">
                    <table>
                        <colgroup>
                            <col style="width: 60%;">
                            <col style="width: 20%;">
                            <col style="width: 20%;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th style="color: #E1C3DA;">Event</th>
                                <th style="color: #E1C3DA;">From</th>
                                <th style="color: #E1C3DA;">To</th>
                            </tr>
                        </thead>
                        <tbody class="importantdates">
                            <tr>
                                <td>New Year's Day</td>
                                <td>01/01/23</td>
                                <td>01/01/23</td>
                            </tr>
                            <tr>
                                <td>Makar Sunkranti / Pongal</td>
                                <td>13/01/23</td>
                                <td>14/01/23</td>
                            </tr>
                            <tr>
                                <td>Republic Day / Basant Panchami</td>
                                <td>26/01/23</td>
                                <td>27/01/23</td>
                            </tr>
                            <tr>
                                <td>Maha Shivratri</td>
                                <td>18/02/23</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Shab-e-Brat / Holi</td>
                                <td>06/03/23</td>
                                <td>09/03/23</td>
                            </tr>
                            <tr>
                                <td>Ramnaumi</td>
                                <td>30/03/23</td>
                                <td>31/03/23</td>
                            </tr>
                            <tr>
                                <td>Mahavir Jyanti</td>
                                <td>04/04/23</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Good Friday</td>
                                <td>07/04/23</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Ambedkar's Jyanti</td>
                                <td>14/04/23</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Eid-ul-Fitre / Sarhul</td>
                                <td>19/04/23</td>
                                <td>27/04/23</td>
                            </tr>
                            <tr>
                                <td>Budh Purnima</td>
                                <td>05/05/23</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Summer Vacation</td>
                                <td>15/05/23</td>
                                <td>15/06/23</td>
                            </tr>
                            <tr>
                                <td>Eid-uz-Zoha / Santhal Hul Divas</td>
                                <td>26/06/23</td>
                                <td>03/07/23</td>
                            </tr>
                            <tr>
                                <td>Moharram</td>
                                <td>28/07/23</td>
                                <td>29/07/23</td>
                            </tr>
                            <tr>
                                <td>Independence Day</td>
                                <td>15/08/23</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Raksha Bandhan</td>
                                <td>30/08/23</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Janamashtami</td>
                                <td>07/09/23</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Vishwakarma Puja</td>
                                <td>17/09/23</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Ganesh Chaturthi</td>
                                <td>19/09/23</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Eid Miladun Nabi</td>
                                <td>28/09/23</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Gandhi Jyanti / Shastri Jyanti</td>
                                <td>02/10/23</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Durga Puja</td>
                                <td>19/10/23</td>
                                <td>28/10/23</td>
                            </tr>
                            <tr>
                                <td>Deepawali / Birsa Jyanti / Chhat</td>
                                <td>10/11/23</td>
                                <td>18/11/23</td>
                            </tr>
                            <tr>
                                <td>Gurunanak Jyanti</td>
                                <td>27/11/23</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>X-Mas / Winter Vacation</td>
                                <td>24/12/23</td>
                                <td>01/01/24</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="progress"></div>
        </div>
        <div class="timetable">
            <table>
                <thead>
                    <tr>
                        <th>Weekday</th>
                        <th>8:30 - 9:30</th>
                        <th>9:30 - 10:30</th>
                        <th>10:30 - 11:30</th>
                        <th>11:30 - 12:30</th>
                        <th>12:30 - 1:10</th>
                        <th>1:10 - 2:00</th>
                        <th>2:00 - 3:00</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Monday</th>
                        <td colspan="2">Project</td>
                        <td>C.C.</td>
                        <td>I.E.M.</td>
                        <td rowspan="7">Reces</td>
                        <td colspan="2">S.E Sessional</td>
                    </tr>
                    <tr>
                        <th>Tuesday</th>
                        <td>-</td>
                        <td>P.P.</td>
                        <td>I.o.T.</td>
                        <td>S.E.</td>
                        <td>N.S.</td>
                        <td>I.E.M.</td>
                    </tr>
                    <tr>
                        <th>Wednesday</th>
                        <td>-</td>
                        <td>-</td>
                        <td>P.P.</td>
                        <td>N.S.</td>
                        <td>I.E.M.</td>
                        <td>I.o.T.</td>
                    </tr>
                    <tr>
                        <th>Thursday</th>
                        <td colspan="2">P.P.</td>
                        <td>C.C.</td>
                        <td>I.o.T</td>
                        <td colspan="2">C.C. Sessional</td>
                    </tr>
                    <tr>
                        <th>Friday</th>
                        <td colspan="2">I.o.T. Sessional</td>
                        <td>S.E.</td>
                        <td>C.C.</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <th>Saturday</th>
                        <td colspan="2">N.S. Sessional</td>
                        <td colspan="2">Project</td>
                        <td>S.E.</td>
                        <td>N.S.</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <%- include("partials/footer") %>
</body>

</html>